@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab";
}

body {
  font-family: "Roboto Slab";
  background-color: #f5e9dd;
}
